span.program-status-running {
	padding: 0.5em;
	background: rgb(150, 250, 150);
}
span.program-status-paused {
	padding: 0.5em;
	background: rgb(250, 150, 150);
}
span.program-status-exited {
	padding: 0.5em;
	background: rgb(200, 200, 200);
}

.program-ctrl-button {
	padding: 0.3em;
	cursor: pointer;
	color: rgb(0,0,0);
	background: rgb(240, 240, 240);
	border: 1px solid rgba(255,255,255,0.3);
}